:root {
  --cor-principal: #22BED6;
  --cor-secundaria: #3DCCC7;
  --azul-escurecido: #2595BE;
  --cor-terciaria: #FF9E3A;
  --cor-texto: #111;
  --cor-cinza: #f4f4f4;
  --cor-borda: #ccc;
  --cor-footer: #333;
  --cor-footer-texto: #eee;
  --cinza-sem-transparencia: #2020201a;
  --borda: 8px;
  --sombra-suave: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.botao {
  background-color: var(--cor-principal);
  color: var(--cor-cinza);
  padding: 0.3rem 2rem;
  border-radius: 5px;
  display: inline-block;
  border: 3px solid  transparent;
  min-width: 210px;
  font-weight: 600;
  text-align: center;
  transition: 300ms;
}

.botao-outline {
  color: var(--cor-principal);
  background-color: transparent;
  border: 3px solid  var(--cor-principal);
}

.botao:hover {
  background-color: var(--azul-escurecido);
  padding: 0.4rem 2.2rem;
  min-width: 215px;
  transition: 300ms;
}

.botao-outline:hover {
  color: var(--azul-escurecido);
  min-width: 215px;
  background-color: transparent;
  border: 3px solid  var(--azul-escurecido);
}